# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
*.egg
.eggs/
*.pyc
*.pyo

# Virtualenv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
*.sqlite3

# Testing / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Type checking / caches
.mypy_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env files
.env
